
<%= simple_form_for(@grade) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :mark %>
    
    <%= f.collection_select(:course_id, Course.all, :id, :course_name, {}, { :multiple =>false} ) %>    
     
    <%= f.collection_select(:user_id, User.all, :id, :last_name, {}, { :multiple =>false} ) %>    

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
