<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @grade.mark %>
</p>

<p>
  <strong>Course:</strong>
  <%= @grade.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @grade.user_id %>
</p>
<%= render 'comments/comment'%>
<% if user_signed_in?  && current_user.admin? %>
<%= link_to 'Edit', edit_grade_path(@grade),class:'btn btn-warning' %> |
<%end%>
<%= link_to 'Back', grades_path,class:'btn btn-info btn-sm' %>
